.title-form {
    color: gray;
    border-bottom: 2px solid gray;
}


.form {
    max-width: 400px;
    margin: auto;
    padding-bottom: 50px;
    padding-top: 30px;
    width: 90%;

    h3{
        padding: 10px;
    }
}

.form-fields {
    border-radius: 15px;
    border: 1px solid #c5c1c0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 24px 15px;
}

.control-label {
    color: #423e3d;
    font-weight: bold;
    transition: color 300ms ease;
    text-align: left;
}

.control-input {
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(#c5c1c0, 0%) inset;
    color: #6d6665;
    margin: 0.8em 0;
    border: 1px solid #c5c1c0;
    padding: 0.6em 0.6em;
    transition: box-shadow 300ms ease-out;
}

.button {
    padding: 10px;
}

.form-submit {
    border: 1px solid #4465dc;
    background-color: #0e4ec1;
    border-radius: 3px;
    color: #fff;
    display: block;
    width: 100%;
    max-width: 100%;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 300ms ease-out, max-width 150ms ease-out;
    outline: none;
    position: relative;
    margin: auto;

    &:hover {
        border: 1px solid #0e4ec1;
        background-color: #fff;
        color: #0e4ec1;
    }
}
